#welcome{
    margin: 0;
}
form {
    overflow: hidden;
    box-shadow: 1px 0px 18px -10px black;
    padding: 12px;
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
input, button{
    margin-top: 15px;
}
h1{
    margin: 0;
    padding: 20px;
    text-align: center;
}
.form-login--container{
    display: flex;
    align-items: center;
    justify-content: center;
}