aside figure img{
    width: 60px;
    height: 60px;
}
aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    float: left;
    border-radius: 3px;
    background-color: rgb(2, 26, 69, 0.7);
    height: 100%;
    width: 10%;
    position: fixed;
    z-index: 1;
    overflow: auto;
}