.page-container{
    padding: 20px;
}
.profile-container{
    box-shadow: 1px 0 12px -6px #a0a0a0;
    width: 70%;
    padding: 8px;
    margin-top: 0;
    margin: auto;
}
.profile{
    display: flex;
    align-items: center;
}
.profile-data{
    display: flex;
    justify-content: space-evenly;
}
h1{
    font-size: 3em;
}

