.Item-container{
    box-shadow: 1px 1px 15px -10px #0a0a0a;
    margin: 12px 0;
}
.Item-title--container{
    background-color: aliceblue;
}
.Item-title{
    text-align: center; 
}
.Item-content--container{
    padding-left: 4px;
}
.Item-content--info{
    width: 100%;
    margin: 8px 0;
}
p{
    margin: 0;
}
td{
    width: 165px;
}